<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Simple Website</title>
  <style>
    /* Reset some default styles */
    body, ul {
      margin: 0;
      padding: 0;
    }

    /* Page background and overall styling */
    body {
      font-family: Arial, sans-serif;
      background-color: #f8f8f8;
    }

  </style>
</head>
<body>
  <!-- Navbar -->
  <%- include("components/header") %>
  <%- include("components/data") %>

</body>

</html>
